<%= stylesheet_link_tag "constellations", property: :stylesheet %>
<%= javascript_include_tag "constellations" %>

<div class="container" data-ng-app="starfax">
  <header class="jumbotron">
    <h1><a data-ui-sref="index" href="#">Starfax</a></h1>
  </header>
  <main data-ui-view>

    <a class="btn btn-default btn-sm" href="#12" role="Small button">Aries</a>
    <a class="btn btn-default btn-sm" href="#1" role="Small button">Taurus</a>
    <a class="btn btn-default btn-sm" href="#2" role="Small button">Gemini</a>
    <a class="btn btn-default btn-sm" href="#3" role="Small button">Cancer</a>
    <a class="btn btn-default btn-sm" href="#4" role="Samll button">Leo</a>
    <a class="btn btn-default btn-sm" href="#5" role="Small button">Virgo</a>
    <a class="btn btn-default btn-sm" href="#6" role="Small button">Libra</a>
    <a class="btn btn-default btn-sm" href="#7" role="Small button">Scorpio</a>
    <a class="btn btn-default btn-sm" href="#8" role="Small button">Saggitarius</a>
    <a class="btn btn-default btn-sm" href="#9" role="Small button">Capricorn</a>
    <a class="btn btn-default btn-sm" href="#10" role="Small button">Aquarius</a>
    <a class="btn btn-default btn-sm" href="#11" role="Small button">Pisces</a>

  </main>
</div>
