<%= stylesheet_link_tag "constellations", property: :stylesheet %>
<%= javascript_include_tag "constellations" %>

<div class="container">
  <header class="jumbotron">
    <h1>Star Facts</h1>
  </header>
  <main>

  </main>
</div>
