/*
*= require bootstrap
*/

body {
  background-image: url("http://i.imgur.com/aHomcBx.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

header, h1, a {
  font-family: blazer;
}

header{
  text-align: center;
}

a {
  color: hotpink;
}

h1, h2 {
  color: hotpink;
  font-weight: bold;
}
img {
border-radius: 50%;
display: inline-block;
}

button {
  background-image: url("http://i.imgur.com/ZUpLPjo.jpg");
  font-size: 25px;
}

p.jumbotron {
  background-image: url("http://i.imgur.com/ZUpLPjo.jpg");
  font-size: 75px;
}

.show-page {
  float: left;
  padding: 20px;
}

.conts-name {
  padding-left: 11%;
}

.constellation h3 {
  display:inline-block;
  text-align:center;
  width: 100%;
}
