/*
*= require bootstrap
*/


body{
  background-color: black;
}
img{
/*border-radius: 50%;*/
width: 50%;
display: inline-block;
}

/*.line{*/
  display: inline-block;
  width:100%;
}
.text{
  position:;
  bottom: 0;
}
